.loginPageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #8434eb, #348feb);
    width: 100vw;
    height: 100vh;
  }
  
  .leftSideImage {
    background-image: url("../../../../images/login.jpg");
    width: 50vw;
    height: 80vh;
    background-repeat: no-repeat;
    display: flex; /* Added */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
    margin-right: 7vw;
  }
  
  .loginWrapper {
    width: 60vw;
  height: 80vh;
    margin-left: 40vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
  }
  
  .emailContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
    outline: none;
    width: 80%;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 20px;
    position: sticky;
  }
  
  .errorMessageTouch {
    color: #da1b55;
    text-align: left;
    /* Remove width property */
  }
  
  .emailContainer .lockIcon {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .emailContainer input[type="text"] {
    flex: 1; /* Take remaining space */
    margin-right: 10px; /* Adjust margin between TextInput and icon */
  }
  
  .forgotPassword {
    margin-left: 11vw;
  }
  
  .loginHeader {
    font-size: 48px;
    font-weight: bolder;
    width: inherit;
    text-align: center;
    margin-bottom: 70px;
  }
  
  .loginbutton {
    background-color: #3861fb;
    color: white;
    border: none;
    outline: none;
    width: 80%;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    margin-top: 30px;
  }
  
  .loginbutton:disabled {
    background-color: #6e8dfc;
  }
  
.createAccount{
    margin-top:150px ;
    margin-left: 10px;
    color: #16c784;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
}
.errorMessage{
    color: red;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 667px) {
   
  .loginPageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #8434eb, #348feb);
    width: 100vw;
    height: 100vh;
  }
  .loginWrapper {
    width: 30vw;
  height: 80vh;
    margin-left: 1vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.5);
  }
  
    .loginbutton{
        background-color: #3861fb;
        color: white;
        border: none;
        outline: none;
        width: 80%;
        border-radius: 30px;
        padding: 15px 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        margin: 10px;
        margin-top: 30px
    }
    .loginWrapper {
        position: absolute; /* Set position to absolute */
        top: 50%; /* Position from the top */
        left: 50%; /* Position from the left */
        height: 95vh;
        transform: translate(-50%, -50%); /* Center the element */
        width: 90vw;
        max-width: 500px; /* Set a maximum width for better responsiveness */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        padding: 20px; /* Add padding for better spacing */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    }
  
    .emailContainer {
        display: flex;
        flex-direction: row;
        margin: 10px;
        outline: none;
        width: 80%;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 20px;
        position: sticky;
      
    
    }
    .errorMessageTouch {
        color: #da1b55;
        text-align: left;
        
        /* Remove width property */
      }
    .emailContainer .lockIcon {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .emailContainer input[type="text"] {
        flex: 1; /* Take remaining space */
        margin-right: 10px; /* Adjust margin between TextInput and icon */
       
    }
    
    .forgotPassword{
        margin-left: 11vw;
    }
    .loginHeader{
        font-size: 48px;
        font-weight: bolder;
        width: inherit;
        text-align: center;
        margin-bottom: 70px;
    }
    .loginbutton:disabled{
        background-color:#6e8dfc ;
    }
    .createAccount{
        margin-top:100px ;
        margin-left: 10px;
        color: #16c784;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: white;
    }
    .errorMessage{
        color: red;
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
    }
}